<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>todopher</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="/todopher/static/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <script src="todopher/static/js/scripts.js" defer></script>
  </head>
  <body>
    <header>
      <h1>todopher</h1>
    </header>
    <main>
      <div class="todo-form">
        <form
          hx-post="todopher/todos"
          hx-on::after-request="document.querySelector('form').reset()"
          hx-target=".todo-list ul"
          hx-swap="beforeend"
          autocomplete="off"
        >
          <input type="text" name="title" placeholder="title" required />
          <input type="date" name="due_date" placeholder="due date" required />
          <button class="add-button"><i class="mdi mdi-plus-thick"></i></button>
        </form>
      </div>
      <div class="list-header">
        <button class="search-button" hx-get="todopher/search-form" hx-swap="outerHTML">
          <i class="mdi mdi-magnify"></i>
        </button>
        <nav class="filter-nav">
          <a
            href="#"
            class="filter-link active"
            hx-get="/todopher/todos"
            hx-target=".todo-list"
            hx-swap="innerHTML"
            onclick="setActiveLink(event)"
            >all</a
          >
          <a
            href="#"
            class="filter-link"
            hx-get="/todopher/todos/pending"
            hx-target=".todo-list"
            hx-swap="innerHTML"
            onclick="setActiveLink(event)"
            >pending</a
          >
          <a
            href="#"
            class="filter-link"
            hx-get="todopher/todos/completed"
            hx-target=".todo-list"
            hx-swap="innerHTML"
            onclick="setActiveLink(event)"
            >completed</a
          >
        </nav>
      </div>
      <div class="todo-list" hx-get="todopher/todos" hx-trigger="load"></div>
    </main>
  </body>
</html>
