<li id="todo-{{ .ID }}">
  <div class="todo-item">
    <input
      class="checkbox"
      hx-patch="/todopher/todos/{{ .ID }}/toggle"
      hx-target="#todo-{{ .ID }}"
      hx-swap="outerHTML"
      type="checkbox"
      name="status"
      {{
      if
      .Completed
      }}checked{{
      end
      }}
    />
    <div class="todo-details">
      <h3>{{ .Title }}</h3>
      <p>{{ .DueDate.Format "2006-01-02" }}</p>
    </div>
    <button
      class="edit-button"
      hx-get="/todopher/todos/edit/{{ .ID }}"
      hx-swap="outerHTML"
      hx-target="closest .todo-item"
      hx-trigger="click"
    >
      <i class="mdi mdi-pencil"></i>
    </button>
    <button
      class="delete-button"
      hx-delete="/todopher/todos/{{ .ID }}"
      hx-target="#todo-{{ .ID }}"
      hx-swap="outerHTML"
    >
      <i class="mdi mdi-delete"></i>
    </button>
  </div>
</li>
