{{ range .todos }}
<li id="todo-{{ .ID }}" class="todo-item">
  <label>
    <input
      type="checkbox"
      class="todo-checkbox"
      hx-post="/todos/{{ .ID }}/toggle"
      hx-target="#todo-{{ .ID }}"
      hx-swap="outerHTML"
      {{
      if
      .Completed
      }}checked{{
      end
      }}
    />
    <span> {{ .Title }} - {{ .DueDate.Format "2006-01-02" }} </span>
  </label>
  <button
    hx-delete="/todos/{{ .ID }}"
    hx-target="#todo-{{ .ID }}"
    hx-swap="outerHTML"
    class="todo-button delete-button"
  >
    Delete
  </button>
</li>
{{ else }}
<li class="no-todos">Todo list is empty.</li>
{{ end }}
