@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --background: #121212;
  --purple: #bb86fc;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --divider: #555555;
  --surface: #1e1e1e;
  --red: #ff5252;
  --green: #66cc8a;
  --yellow: #ffeb3b;
}

body {
  padding: 20px;
  font-family: "Rubik";
  background-color: var(--background);
}
main {
  width: 600px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--text-primary);
}
header {
  text-align: center;
  color: var(--text-primary);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.todo-list ul {
  padding: 10px 20px;
  list-style-type: none;
  background: var(--surface);
  border-radius: 8px;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 1%;
}
.todo-item .todo-details {
  margin-right: auto;
}
.todo-list li {
  border-bottom: 1px solid var(--divider);
}
.todo-list li:last-child {
  border: 0;
}
.todo-list li h3,
.todos li p {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 4px;
}
.todo-list li p {
  color: var(--text-secondary);
}
form.edit-form {
  margin-bottom: 20px;
  margin-top: 20px;
}
form {
  display: flex;
  gap: 10px;
  width: 100%;
}
form input {
  flex-grow: 1;
  border: 1px solid var(--divider);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--surface);
  color: var(--text-primary);
}
input:focus {
  outline: none; /* Remove default outline */
  border-color: var(--text-primary);
  box-shadow: 0 0 5px var(--text-primary);
}

button {
  padding: 10px;
  text-wrap: nowrap;
  font-family: "Rubik";
  border: 1px solid var(--divider);
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Smooth transition */
  box-sizing: border-box;
  cursor: pointer;
  background: var(--surface);
  color: var(--text-primary);
}
button.add-button {
  color: var(--text-primary);
  width: 10%;
}
button.add-button:hover {
  color: var(--green);
}
button.save-button {
  color: var(--text-primary);
}
button.save-button:hover {
  color: var(--green);
}
button.edit-button {
  color: var(--text-primary);
}
button.edit-button:hover {
  color: var(--yellow);
}
button.delete-button {
  color: var(--text-primary);
}
button.delete-button:hover {
  color: var(--red);
}
.no-todos {
  color: var(--text-primary);
  text-align: center;
}
