@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --background-color: #121212; /* Dark grey background */
  --primary-color: #bb86fc; /* Purple */
  --text-primary-color: #ffffff; /* White text */
  --text-secondary-color: #cccccc; /* White text */
  --divider-color: #37474f; /* Divider color */
  --surface-color: #1e1e1e; /* Dark surface for containers */
  --delete-button-color: #ff5252; /* Red for delete button */
}

body {
  padding: 20px;
  font-family: "Rubik";
  background-color: var(--background-color);
}
main {
  width: 600px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--text-primary-color);
}
header {
  text-align: center;
  color: var(--text-primary-color);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.todo-list > button {
  width: 100px;
  margin: 20px auto;
  display: block;
}
.todo-list ul {
  padding: 10px 20px;
  list-style-type: none;
  background: var(--surface-color);
  border-radius: 8px;
}
.todo-list li {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.todo-list li .todo-details {
  margin-right: auto;
}
.todo-list li:last-child {
  border: 0;
}
.todo-list li h3,
.todos li p {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 4px;
}
.todo-list li p {
  color: var(--text-secondary-color);
}
form {
  display: flex;
  gap: 10px;
  width: 100%;
}
/* Button styling */
form button {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}
form button:hover {
  background-color: #9a67ea; /* Darker purple on hover */
}
form input {
  flex-grow: 1;
  border: 1px solid var(--divider-color);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--surface-color);
  color: var(--text-primary-color);
}
input:focus {
  outline: none; /* Remove default outline */
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}

button {
  padding: 10px;
  text-wrap: nowrap;
  font-family: "Rubik";
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Smooth transition */
  box-sizing: border-box;
  cursor: pointer;
  background: var(--surface-color);
  color: var(--text-primary-color);
}
button.delete-button {
  background-color: var(--delete-button-color); /* Red color */
}
button.delete-button:hover {
  background-color: #d50000; /* Darker red on hover */
}
button.show-todos-button {
  background-color: var(--primary-color);
  color: white;
}
button.show-todos-button:hover {
  background-color: #9a67ea; /* Darker purple on hover */
}
